@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

body,h1,h2,h3,h4,h5,h6,ul,a,p {
    margin:0;
    padding:0;
    font-family:'OpenSans-Light', calibri, serif, consolas;
}


a{
    text-decoration:none !important;
}

a:hover, a:focus, a:visited{
    color:black;
}

.m-header{
    width: 100%;
    background:#262c3a;
    min-height:60px;
    position:  fixed;
    border-bottom: 4px solid #3b4458;
    z-index: 4;
}

.m-title{
    display:inline-block;
    font-family:'OpenSans-Light';
    line-height:60px;
    color:#4ca;
}

.m-menu{
    list-style-type:none;
    float:right;
}

.m-menu li{
    display:inline-block;
}

.m-menu a{
    color:#ddd;
    display:block;
    line-height:60px;
    padding:0px 20px;
    font-family:'OpenSans-Regular', calibri;
}

.m-menu a:hover{
    background:#222;
}

.m-body{
    width:100%;
    padding-top: 109px;
}


@media screen and (max-width:605px){
    .m-title{
        word-break:break-all;
    }
    .m-menu{
        float:left;
    }
    .m-title{
        margin-left:20px;
    }
}

@media screen and (max-width:610px){
    .m-header{
        position:relative;
    }
    .courses-menu{
        padding-top:0px;
    }
    .m-body{
        padding-top:0px;
    }
}